<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LPA_Project_F1_Imperative/src/it/ltronchi/lpa/Main.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.ltronchi.lpa.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LPA_Project_F1_Imperative"/>
</launchConfiguration>
